{% load static %}
{% load widget_tweaks %}
<section class="text-center bg-primary my-3 py-1">
    <div class="container">
    <!-- Section heading -->
    <h2 class="h2-responsive text-white font-weight-bold my-5">Get Connect</h2>
    <div class="row pb-5">
      <div class="col-sm-4 border-right">
        <div class="">
          <img src="img/free-phone-icon-1-thumb.png" height="80" width="80" alt="" class="img-fluid">
          <h5  class="text-white">+8801679695747</h5>
        </div>
      </div>
      <div class="col-sm-4 border-right">
        <div class="">
          <img src="img/gmail-32-761667.png" height="80" width="80" alt="" class="img-fluid">
          <h5  class="text-white">softoparkit@gmail.com</h5>     
         </div>
      </div>
      <div class="col-sm-4">
        <div class="">
          <img src="img/unnamed.png" height="80" width="80" alt="" class="img-fluid">
          <h5 class="text-white">What'sApp</h5>
         </div>
      </div>
  
    </div>
  
    </div>
   </section>

