{% load static %}
{% load widget_tweaks %}

<div class="container text-center">
  {% if request.user.is_authenticated %}
<div class="action-buttons">
  <div class="button-group">
    <a href="{% url 'cms_app:section_update_view' pk=section.pk %}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Section Update</a>
    <a href="{% url 'cms_app:section_delete_view' pk=section.pk %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Section Delete</a>
 
  </div>
</div><br>
{% endif %} 
</div> 
<section class="text-center pt-1 call_to_action2" style="background-color: black;">
    <div class="container">
    <h2 class="h2-responsive text-white font-weight-bold my-5">{{ section.heading }}</h2>
    <div class="row pb-5">
      <div class="col-sm-4 border-right p-2">
        <a href="tel:+8801616577796"> <img src="{% static 'images/dummy/phone.png' %}" height="80" width="80" alt="" class="img-fluid"><br><br>
          <h6 class="text-white">+8801616577796 </h6></a>
      </div>
      <div class="col-sm-4 border-right p-2"> 
        <a href="mailto:softoparkit@gmail.com"> <img src="{% static 'images/dummy/gmail.png' %}" height="80" width="80" alt="" class="img-fluid"><br><br>
          <h6  class="text-white">softoparkit@gmail.com</h6></a>
      </div>
      <div class="col-sm-4 p-2">
        <a href="https://wa.me/+8801616577796"> <img src="{% static 'images/dummy/whatsapp.png' %}" height="80" width="80" alt="" class="img-fluid"><br><br>
          <h6 class="text-white">What's App</h6></a>
      </div>
    </div>
    </div>
   </section>

