{% load static %}
{% load widget_tweaks %}

{% if request.user.is_authenticated %}
<div class="action-buttons">
  <div class="button-group">
    <a href="{% url 'cms_app:section_update_view' pk=section.pk %}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Section Update</a>
    <a href="{% url 'cms_app:section_delete_view' pk=section.pk %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Section Delete</a>
 
  </div>
</div><br>
{% endif %} 
<hr>
<section class="  py-5 heading_icon_name_border_container_by_6">

    <div class="container">
    
       <div class="text-center">
        <h3 class="text-dark">{{section.heading}}</h3>
       
    
       </div><br/>
    
       <div class="row">

        {% for item in section.icon_with_heading.all %}
                <div class="col-sm-3 text-center">
                  {% if request.user.is_authenticated %}
                              <div class="action-buttons">
                                <div class="button-group">
                                  <a href="{% url 'cms_app:icon_with_heading_view' pk=item.pk %}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                  
                                  <a href="{% url 'cms_app:icon_with_heading_delete_view' pk=item.pk %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
                               
                                </div>
                              </div><br>
                              {% endif %}
                  <div class="m-1  p-4 ">
                      <img src="{% if item.icon %} {{item.icon.url}} {% endif %}" alt=" {{item.heading}} " class="img-fluid" height="100" width="100" title="{{ item.heading }}">
                  
            
                  </div>
                  <h6 class="text-dark"> {{item.heading}}  </h6>
            
                  </div>
                  {% empty %}
                  <div class="col-sm-3 text-center">
                    <div class="m-1  p-4 ">
                        <img src="{% static '/images/content_development/content_development/icons/004_notebook_min.png' %}" alt="" class="img-fluid" height="100" width="100">
                    
              
                    </div>
                    <h6 class="text-dark"> Heading Dummy </h6>
              
                    </div>
           {% endfor %}


                                 


          <!-- Button trigger modal -->
             <div class="col-sm-3">
              {% if request.user.is_authenticated %}
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#icon_with_heading_form_{{ section.id }}">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </button>
              {% endif %}
             </div>

              <!-- Modal -->
              <div class="modal fade" id="icon_with_heading_form_{{ section.id }}" tabindex="-1" role="dialog" aria-labelledby="icon_with_heading_formLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="icon_with_heading_form">ADD CONTENT</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form method="POST" action="{% url 'page_detail' slug=page.slug %}" enctype="multipart/form-data">
                      <div class="modal-body">
                        {% csrf_token %}
                        <input type="hidden" name="form_name" value="icon_with_heading_form">
                        {% for field in icon_with_heading_form.visible_fields %}
                          {% if field.name == "section" %}
                            <input type="hidden" name="section" value="{{ section.id }}">
                          {% else %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                                {% for error in field.errors %}
                                <span class="help-block text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                          {% endif %}
                        {% endfor %}


                      </div>
                      

                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
    

      </div>
      
     
    
    
       
    </div>
    
    
    </section>