   
<section class=" my-5" style="background-color: rgb(237, 237, 238);"><br><br>
    <div class="container pt-2 bg-dark">
        <h2 class="text-center text-white my-4 pt-2 bg-dark display-4 pb-2">Our Technologies Uses</h2>
        <div class="row border bg-light"> 
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1"><b>React js</b></h5>
                   
                    <p>React.js has dominent presence in the history of mobile application as well as web application development project from last few years. Beign adopted by the facebook, react has stable position in front end development technologies.
                        The Strategy We've adopted to build React.js applications is based on  React.js framework providing you the best user experience.
                        </p>
                  </div>
                  </div>
            </div>
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1"> <b>Vue.js </b></h5>
                   
                    <p>Vue.js is an open source javascript framework that has huge potentials in the fronend development. We have some big projects dome by Vue.js development and we are confident enought that we can ensure you we can develop your vue.js app in en efficient way that you will appriceat us.
                        We help create Vue. js-based web front-ends, whether it’s an application for the desktop or the web or a single-page website.
                        </p>
                  </div>
                  </div>
            </div>
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1">Razib Hasan</h5>
                   
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
                  </div>
                  </div>
            </div>
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1">Razib Hasan</h5>
                   
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
                  </div>
                  </div>
            </div>
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1">Razib Hasan</h5>
                   
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
                  </div>
                  </div>
            </div>
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1">Razib Hasan</h5>
                   
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
                  </div>
                  </div>
            </div>
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1">Razib Hasan</h5>
                   
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
                  </div>
                  </div>
            </div>
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1">Razib Hasan</h5>
                   
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
                  </div>
                  </div>
            </div>
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1">Razib Hasan</h5>
                   
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
                  </div>
                  </div>
            </div>
            <div class="col-sm-6 py-3">
                <div class="card p-3 bg-white shadow">
                    <img src="img/004_analytics.png" alt="" height="80" width="80" class="img-fluid">
                  <div class="text-left">
                    <h5 class="pt-1">Razib Hasan</h5>
                   
                    <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
                  </div>
                  </div>
            </div>
    
        </div>
    </div><br><br>
    </section>