{% load static %}
{% load widget_tweaks %}
<section class="text-center bg-dark my-5 py-2">
    <div class="container">
    <!-- Section heading -->
    <h2 class="h2-responsive text-white font-weight-bold my-5">What Clients Say</h2>
    <div class="row pb-5">
      <div class="col-sm-6">
        <div class="card p-3 border-success bg-white">
          <img src="img/sni.PNG" alt="" height="100" width="100" class="img-fluid rounded-circle">
        <div class="text-left">
          <h5>Razib Hasan</h5>
          <p class="text-success"><b>CTO-Softopark IT Ltd</b></p>
          <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
        </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card p-3 border-success bg-white">
          <img src="img/sni.PNG" alt="" height="100" width="100" class="img-fluid rounded-circle">
        <div class="text-left">
          <h5>Farid Mahmud</h5>
          <p class="text-success"><b>PM at johukum</b></p>
          <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content</p>
  
        </div>
        </div>
      </div>
    </div>
  
    </div>
   </section>