{% load static %}
{% load widget_tweaks %}

{% if request.user.is_authenticated %}
<div class="action-buttons">
  <div class="button-group">
    <a href="{% url 'cms_app:section_update_view' pk=section.pk %}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Section Update</a>
    <a href="{% url 'cms_app:section_delete_view' pk=section.pk %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Section Delete</a>
 
  </div>
</div><br>
{% endif %} 
<hr>
<section class="text-center bg-white my-5 py-2 video_section_1">
  <div class="container">
    <h2 class="h2-responsive text-dark font-weight-bold my-5">{{ section.heading }}</h2>

    <!-- for condition -->
    {% for item in section.videos_urls.all %}

        {% if request.user.is_authenticated %}
        <div class="action-buttons">
          <div class="button-group">
            <a href="{% url 'cms_app:heading_logo_name_short_descrip_view' pk=item.pk %}" class="btn btn-primary"><i
                class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a href="{% url 'cms_app:heading_logo_name_short_descrip_delete_view' pk=item.pk %}" class="btn btn-danger"><i
                class="fa fa-trash-o" aria-hidden="true"></i> </a>
          </div>
        </div>
        <br>
        {% endif %}

    <div class="embed-responsive embed-responsive-21by9">
      <iframe class="embed-responsive-item" src="{% if item.embed_url %} {{item.embed_url}} {% endif %}"></iframe>
    </div>
    {% empty %}
    <div class="embed-responsive embed-responsive-21by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=pOjkXmBqEM8"></iframe>
    </div>
    {% endfor %}
    <!-- endfor condition -->

                   <!-- Button trigger modal -->
                   <div class="col-sm-4 mt-5">
                    {% if request.user.is_authenticated %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#heading_logo_name_short_descrip_form_{{ section.id }}">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>
                    {% endif %}
                  </div>
  
                      <!-- Modal -->
                      <div class="modal fade" id="videos_urls_form_{{ section.id }}" tabindex="-1" role="dialog" aria-labelledby="videos_urls_formLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="videos_urls_form">ADD CONTENT</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
  
                            <form method="POST" action="{% url 'page_detail' slug=page.slug %}" enctype="multipart/form-data">
                              <div class="modal-body">
                                {% csrf_token %}
                                <input type="hidden" name="form_name" value="videos_urls_form">
                                {% for field in videos_urls_form.visible_fields %}
                                  {% if field.name == "section" %}
                                    <input type="hidden" name="section" value="{{ section.id }}">
                                    {% elif field.name in 'heading, sub_heading, embed_url, description' %}
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field|add_class:'form-control' }}
                                        {% for error in field.errors %}
                                        <span class="help-block text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                            </form>
  
                          </div>
                        </div>
                      </div>
  </div>
</section>