{% load static %}
{% load widget_tweaks %}
<section class="text-center bg-light my-5 py-2">
    <div class="container">
    <!-- Section heading -->
    <h2 class="h2-responsive text-dark font-weight-bold my-5">What Clients Say</h2>
    <div class="row pb-5">
      <div class="col-sm-6">
       <div class="text-left text-dark">
        <h3>Our satisfied Clients say</h3>
        <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content
          In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content
          In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content
          In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content
        </p>
        
       </div>
      </div>
      <div class="col-sm-6">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/watch?v=pOjkXmBqEM8"></iframe>
        </div>
      </div>
    </div>
  
    </div>
   </section>