{% load static %}
{% load widget_tweaks %}
{% for item in section.videos_urls.all %}
    <section class="video_section_2 py-3">
      {% if request.user.is_authenticated %}
                              <div class="action-buttons">
                                <div class="button-group">
                                  <a href="{% url 'cms_app:image_with_description_view' pk=item.pk %}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                  
                                  <a href="{% url 'cms_app:image_with_description_delete_view' pk=item.pk %}" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> </a>
                               
                                </div>
                              </div><br>
        {% endif %}
      <div class="{{ item.container_type }}"
        {% if item.background_image %} 
          style="background-image: url({{item.background_image.url}})"
        {% endif %}
      >
        <div class="row">
            <div class="col-sm-6 pt-5
            
            {% if item.image_alignment == 'right' %}order-sm-12{% endif %}">
                <img src="{{item.embed_url.url}}" class="img-fluid" alt=" {{item.heading}}" title="{{ item.heading }}">
            </div>

            <div class="col-sm-6 {% if item.image_alignment == 'right' %}order-sm-1{% endif %}">
              <div class="p-5 text-left">
                <h3 class="pb-2 text-left">{{ item.heading }}</h3>
                <!-- <h4 class="text-danger pb-1 text-left">{{ item.sub_heading }}</h4> -->
                <p class="text-left text-dark">{{ item.description |safe }}</p><br/>
                {% if item.target_url %}
                <a href="{{ item.target_url }}" class="btn btn-outline-primary btn-lg" >Learn More</a>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
        
      </section>
       
    {% empty %}
    <section>
      <div class="{{ item.container_type }} {% if item.background_image %}{{item.background_image.url}}{% endif %}">
        <div class="row">
            <div class="col-sm-6 {% if item.image_alignment == 'right' %}col-md-push-6 col-sm-push-6{% endif %}">
                <img src="{{item.photo.url}}" class="img-fluid" alt="">
            </div>

            <div class="col-sm-6 pt-4 {% if item.image_alignment == 'right' %}col-md-pull-6 col-sm-pull-6{% endif %}"><br/>

              <div class="p-5 text-left">
                <h3 class="text-dark pb-2 text-justify">Heading Dummy</h3>
                <h4 class="text-danger pb-2 text-justify">Life Paragraph. Student Life Paragraph – </h4>
                <p class="text-dark">Life Paragraph. Student Life Paragraph – Students are the future leaders of a nation. After equipping themselves... Essay on Student Life </p><br/>
              </div>
              
            </div>
          </div>
        </div>
        
      </section>

<div class="container">
        <!-- Button trigger modal -->
<div class="col-sm-6">
  {% if request.user.is_authenticated %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#videos_urls_form_{{ section.id }}">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
  </button>
  {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="videos_urls_form_{{ section.id }}" tabindex="-1" role="dialog" aria-labelledby="videos_urls_formLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videos_urls_form">ADD CONTENT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form method="POST" action="{% url 'page_detail' slug=page.slug %}" enctype="multipart/form-data">
        <div class="modal-body">
          {% csrf_token %}

          <input type="hidden" name="form_name" value="videos_urls_form">

          {% for field in image_with_description_form.visible_fields %}
            {% if field.name == "section" %}
              <input type="hidden" name="section" value="{{ section.id }}">
            {% else %}
              <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field|add_class:'form-control' }}
                  {% for error in field.errors %}
                  <span class="help-block text-danger">{{ error }}</span>
                  {% endfor %}
              </div>
            {% endif %}
          {% endfor %}

        </div>
        

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>
  </div>
  
{% endfor %}