
{% extends "base.html" %}
{% load static %}
{% block content %}
    
        <!-- page content -->
        <div class="page-content">

            <!-- Banner -->
            <section class="home-banner home-slider-two">
                <img class="img-fluid" src="{% static 'images/slider/home.png'  %}" alt="Software company in Dhaka">
             </section>

             <section class="section-md border-top" style="background-color: rgb(245, 245, 245);">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-8">
                          <div class="section-title text-center">
                              <h3 class="subheading skincolor text-dark">From Softopark Team</h3>
                              <h2 class="text-dark  pb-4">"We at SOFTOPARK are entitled to make a difference and impact the society we live in."<strong><br/></strong></h2>
                          </div>
                      </div>
                  </div>
                  <div class="text-dark">
                      <p>
                          
                        </p>
                       </div>
              </div>
              </section>
            
              
            <section class="bg-white py-3">
                
                <div class="container">
                    <h1 class="text-center"><strong><br/>WHAT WE DO </strong></h1><br> 
                    <div class="row">
                        
                      <div class="col-sm">
                        <a href="">
                        <div class="m-2  p-3  text-center">
                            <i class="fa fa-shopping-cart fa-4x " aria-hidden="true"></i>                          
                              <h5 class="text-center p-2">E-Commerce Development</h5>

                            <p>Python is the worlds most popular programming language at the moment</p>

                        </div>
                    </a>
                      </div>
                 
                      <div class="col-sm">
                        <a href="">
                        <div class="m-2  p-3  text-center">
                            <i class="fa fa-mobile fa-4x text-dark" aria-hidden="true"></i>
                            <h5 class="text-center p-2">Start-up Consultation</h5>

                            <p>Python is the worlds most popular programming language at the moment</p>

                        </div>
                    </a>
                      </div>
                      <div class="col-sm">
                        <a href="">
                        <div class="m-2 p-3 text-center">
                            <i class="fa fa-lightbulb-o fa-4x text-dark" aria-hidden="true"></i>                              
                            <h5 class="text-center p-2">Backend Development
                            </h5>

                            <p>Python is the worlds most popular programming language at the moment</p>

                        </div>
                    </a>
                      </div>
                      
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm">
                            <a href="">
                            <div class="m-2  p-3  text-center">
                                <i class="fa fa-code fa-4x text-dark" aria-hidden="true"></i>
                                <h5 class="text-center p-2">Apps <br> Development
                                </h5>
    
                                <p>Python is the worlds most popular programming language at the moment</p>
    
                            </div>
                        </a>
                          </div>
                          <div class="col-sm">
                            <a href="">
                            <div class="m-2  p-3  text-center">
                                <i class="fa fa-bullhorn  fa-4x text-dark" aria-hidden="true"></i>                              
                                    <h5 class="text-center p-2">Digital Marketing & Promotion</h5>
    
                                <p>Python is the worlds most popular programming language at the moment</p>
    
                            </div>
                        </a>
                          </div>
                          <div class="col-sm">
                            <a href="c">
                            <div class="m-2 p-3  text-center">
                                <i class="fa fa-pencil-square-o  fa-4x text-dark" aria-hidden="true"></i>
                                <h5 class="text-center p-2">PYTHON</h5>
    
                                <p>Python is the worlds most popular programming language at the moment</p>
    
                            </div>
                        </a>
                          </div>
                        
                      </div>
                      <br/>
                      <div class="row">
                        <div class="col-sm">
                            <a href="">
                            <div class="m-2  p-3  text-center">
                                <i class="fa fa-briefcase fa-4x text-dark" aria-hidden="true"></i>
                                <h5 class="text-center p-2">Content Development
                                </h5>
    
                                <p>Python is the worlds most popular programming language at the moment</p>
    
                            </div>
                        </a>
                          </div>
                          <div class="col-sm">
                            <a href="#">
                            <div class="m-2  p-3 text-center">
                                <i class="fa fa-cloud fa-4x text-dark" aria-hidden="true"></i>                                
                                  <h5 class="text-center p-2">Business Assistance
                                </h5>
    
                                <p>Python is the worlds most popular programming language at the moment</p>
    
                            </div>
                        </a>
                          </div>
                          <div class="col-sm">
                            <a href="#">
                            <div class="m-2  p-3 text-center">
                                <i class="fa fa-android fa-4x text-dark" aria-hidden="true"></i>
                                <h5 class="text-center p-2">Cloud Assistance
                                </h5>
    
                                <p>Python is the worlds most popular programming language at the moment</p>
    
                            </div>
                        </a>
                          </div>
                        
                      </div>
                  </div>
            

        </section>
           

             <section style="background-color: rgb(209, 212, 212);">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 best-clinic-colum"> 
                            <img src="{% static 'images/home/Software_developer_in_bangladesh.png'  %}" class="img-fluid" alt="Top 10 software development company in bangladesh" />
                        </div>
                        <div class="col-lg-6">
                            <br><br><br><br><br><br><br><br>
                            <div class="section-title mt-md-50">
                                
                                <h2 class="text-center text-dark"> <strong>WHO WE ARE</strong></h2>
                            </div>
                          
                            <p class=" text-dark p-1"> Growing Industries and Businesses needs quality of IT services
                                 and Product Development Assistance. We are <b>Softopark</b>,
                                 
                                 Focused to ensure quality, commitment, customer satisfaction and reliability 
                                 to deliver the best customer experience and business results.</p>
                        <h3 class=" text-dark p-1">
                            <b>Rely On Us, Work With Us, Get Trained With Us</b>
                        </h3>
                        </div>
                    </div>
                </div>
            </section>
      
          
            <section class="border-top" style="background-color: rgb(14, 16, 17);"><br>
                <div class="container pb-3 pt-1">
                    <div class="row">
                        <div class="col-sm-5 pb-5 pt-3">
                            <h3 class=" text-light">Consult With Us Today</h3>
             
                         <a href="https://calendly.com/softopark" target="_blank" type="button" class="btn softo-btn btn-primary bg-light text-dark">Book an Appointment</a>

                           

                        </div>
                        <div class="col-sm-2">
                        </div>

                        <div class="col-sm-5 pb-5 pt-3">

                            
                            <h3 class=" text-light">Connect Your Whatsapp</h3>
                            <a href="https://wa.me/8801679695747" target="_blank" type="button" class="btn softo-btn btn-primary text-dark bg-light">WhatsApp</a>

                        </div>

                    </div>
                </div>

            </section>
         
      <section class="pt-5 pb-5 bg-lightgrey">
        <div class="container">
          <h3 class="text-dark text-center">WE DELIVER IN-DETAIL ANALYTICS SERVICES CUSTOMIZED FOR YOUR BUSINESS TYPE</h3>
          <p class="text-center text-left">Our experienced Google Analytics team is happy to provide valuable 
            consulting on your website data and offers the following services:</p><br/><br>
          <div class="row">
            <div class="col-sm-4">
              <div class="media">
                <img class="align-self-start mr-3" src="{% static 'images/Google_Analytics/Google_Analytics/002_responsive.png'  %}" height="70" width="70" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Transparency</h5>
                  <p class="text-dark text-left">Cras sit amet nibh libero, in gravida nulla. sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
              </div>

            </div>
            <div class="col-sm-4">
              <div class="media">
                <img class="align-self-start mr-3" src="{% static 'images/Google_Analytics/Google_Analytics/Advanced_Reporting.png'  %}" height="70" width="70" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Customer Satisfaction</h5>
                  <p class="text-dark text-left">Cras sit amet nibh libero, . Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
              </div>

            </div>
            <div class="col-sm-4">
              <div class="media">
                <img class="align-self-start mr-3" src="{% static 'images/Google_Analytics/Google_Analytics/Expert_Analysis.png'  %}" height="70" width="70" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0"> Tech Experts</h5>
                  <p class="text-dark text-left">Cras sit amet nibhante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
              </div>

            </div>
          </div><br><br>
          <div class="row">
            <div class="col-sm-4">
              <div class="media">
                <img class="align-self-start mr-3" src="{% static 'images/Google_Analytics/Google_Analytics/Meticulous.png'  %}" height="70" width="70" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">
                    Dedicated Team</h5>
                  <p class="text-dark text-left">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
              </div>

            </div>
            <div class="col-sm-4">
              <div class="media">
                <img class="align-self-start mr-3" src="{% static 'images/Google_Analytics/Google_Analytics/Result_Oriented.png'  %}" height="70" width="70" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0"> 24/7 Support</h5>
                  <p class="text-dark text-left">Cras  vel metuvestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
              </div>

            </div>
            <div class="col-sm-4">
              <div class="media">
                <img class="align-self-start mr-3" src="{% static 'images/Google_Analytics/Google_Analytics/Sustainable_Practice.png'  %}" height="70" width="70" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">
                    Reliability</h5>
                  <p class="text-dark text-left">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

                

                <section class="bg-light border-top">
                    <div class="container">
                    <div class="row">
                        <div class="col-sm-6"><br/><br/><br/><br>
                            
                            <h2 class="pt-5">
                                Meet Our Team
                                
                            </h2>
                            <div class="pt-4">
                                <p>We are not just a team. We are a family.Tech experts,
                                developers, designers, strategists, business specialists, marketing experts
                                dedicatedly collaborating. We are on a mission to develop an environment just like Sillicon Valley's Agile Culture. We are always here to support you anytime</p>


                            </div>
                        </div>
                        <div class="col-sm-6"><br/><br/><br/>

                            <img src="{% static 'images/home/PXL_20201122_114843759 (1).jpg'  %}" class="img-fluid" alt="Top 10 software development company in bangladesh" />

                        </div>
                        

                    </div>
                    <br/><br/><br/>
                </div>
                   
                


            </section>

            <section class="bg-light border-top">
                <div class="container-fluid">
                    <div class="row">
            
                    
                    <div class="col-sm-6 border-right bg-lightgrey">
                        <div class="p-2">
                        <h3 class="text-center pt-5"> <strong>OUR CERTIFICATIONS </strong></h3>
                        <img src="{% static 'images/home/Best_software_company.png'  %}" class="img-fluid" alt="Best software company">
                    </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="p-2">
                        <h3 class="text-center pt-5"> <strong>OUR VALUABLE CLIENTS </strong></h3>
                        <img src="{% static 'images/home/Offshore_software_development_company_bangladesh.png'  %}" class="img-fluid" alt="Offshore software development company bangladesh">
                        </div>
                    </div>
                  </div>
                </div>
            
            </section> 


           
          
       
        
           

    </div>
{% endblock %}
    




