{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Softopark</title>
    <meta name="description" content="Softopark is one of the best pioneers and the best software development &
     consultancy company in Bangladesh with over 5000 projects completed along with 4500+ happy customers.
      We are insanely knowledgeable about Software Development,
     Web Development, Ecommerce, Digital Marketing, Content Development, etc. 
    that will skyrocket your sales and revenue.">

    
<meta name="keywords" content="softopark, web solutions, it company, web development,E-commerce solutions,software solutions">
<meta property="og:description" content="Softopark is one of the best pioneers ,We provide professional Consultancy totally free of cost. So hurry up ! Take it all before you plan to develop a project or your dream business!">
<meta property="og:title" content="Softopark best IT farm">
<meta property="og:url" content="http://softopark.com/index.html">
<meta property="og:image:url" content="http://softopark.com/images/logo/Softopark_OG.jpg">
 
<meta name="twitter:description" content="We provide professional Consultancy totally free of cost. So hurry up ! Take it all before you plan to develop a project or your dream business!">
<meta name="twitter:title" content="Softopark">
<meta name="twitter:image" content="http://softopark.com/images/logo/Softopark_Best_IT_Firm_in_Bangladesh.png">
   
   





    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/logo/Softopark_Fevicon.png">

    <!-- cdn link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min'  %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min'  %}" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- CSS
        ============================================ -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177540555-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177540555-1');
</script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css'  %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{%  static 'css/fontawesome.css'  %}">
    <!-- Flaticon -->
    <link rel="stylesheet" href="{%  static 'css/flaticon.css'  %}">
    <!-- optico Icons -->
    <link rel="stylesheet" href="{%  static 'css/optico-icons.css'  %}">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{%  static 'css/themify-icons.css'  %}">
    <!-- Slick -->
    <link rel="stylesheet" href="{%  static 'css/slick.css'  %}">
    <!-- Slick Theme -->
    <link rel="stylesheet" href="{%  static 'css/slick-theme.css'  %}">
    <!-- Pretty Photo -->
    <link rel="stylesheet" href="{%  static 'css/prettyPhoto.css'  %}">
    <!-- Twentytwenty -->
    <link rel="stylesheet" href="{%  static 'css/twentytwenty.css'  %}">
    <!-- Shortcode CSS -->
    <link rel="stylesheet" href="{%  static 'css/shortcode.css'  %}">
    <!-- Base CSS -->
    <link rel="stylesheet" href="{%  static 'css/base.css'  %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{%  static 'css/style.css'  %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{%  static 'css/responsive.css'  %}">
    <link rel="stylesheet" href="{%  static 'css/custom-responsive.css'  %}">

<link rel="stylesheet" href="{%  static 'css/custom-style.css'  %}">

</head>

<body>

    <!-- page wrapper -->
    <div class="page-wrapper">

        <!-- Header Main Area -->
        
        <header class="site-header header-style-1">
            <div class="pre-header" style="background-color: rgb(22, 20, 20);">
                <div class="container">
                    <div class="d-flex justify-content-between  align-items-center">
                        <div class="pre-header-left">
                            <ul class="top-contact">
                                <li><i class="optico-icon-location-pin"></i>Twin Tower, Plot-13, Block-C, Main Road, Banasree, Rampura, Dhaka-1219 </li>
                            </ul>
                        </div>
                        <div class="pre-header-right">
                            
                            <ul class="social-icons d-inline">
                                <li><a target="_blank" href="https://www.facebook.com/softopark" data-tooltip="Facebook"><i class="optico-icon-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/softopark" data-tooltip="Twitter"><i class="optico-icon-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.quora.com/profile/Softopark-InfoTech" data-tooltip="Quora"><i class="fa fa-quora" aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/in/softopark-infotech-425866198/" data-tooltip="LinkedIn"><i class="optico-icon-linkedin"></i></a></li>
                                <li><a target="_blank" href="https://www.instagram.com/softopark/" data-tooltip="Instagram"><i class="optico-icon-instagram"></i></a></li>
                                <li><a target="_blank" href="https://www.pinterest.com/softoparkit" data-tooltip="Pinterest"><i class="optico-icon-pinterest"></i></a></li>
                                <li><a target="_blank" href="https://dribbble.com/Softopark/" data-tooltip="Dribbble"><i class="optico-icon-dribbble"></i></a></li>
                                <li><a target="_blank" href="https://www.behance.net/softoparkIT" data-tooltip="Behance"><i class="fa fa-behance" aria-hidden="true"></i>
                                </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-header-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex align-items-center">
                                <div class="site-branding flex-grow-1">
                                    <a href="">
                                        <img class="logo-img" alt="Softopark" src="{% static 'images/logo/Softopark_Best_IT_Firm_in_Bangladesh.png' %}">
                                    </a>
                                </div>                                
                                <div class="site-navigation ml-auto">
                                    <nav class="main-menu navbar-expand-xl navbar-light">
                                        <div class="navbar-header">
                                            <!-- Toggle Button -->
                                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                                <span class="fa fa-bars"></span>
                                            </button>
                                        </div>
                                        <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                            <ul class="navigation clearfix">
                                                <!-- <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                                <li><a href="{% url 'about' %}">About</a></li>   
                                                <li class="dropdown">
                                                    <a href="#">Service</a>
                                                    <ul>
                                                        <li class="dropdown">
                                                            <a href="{% url 'webdevelopment' %}">Web Development</a>
                                                            <ul>
                                                                <li><a href="{% url 'back_end_development' %}">Back-End Development</a></li>
                                                                <li><a href="{% url 'front_end_development' %}">Front-End Development</a></li>
                                                                <li><a href="{% url 'cms' %}">CMS</a></li>
                                                                <li><a href="{% url 'ui_ux' %}">UI/UX</a></li>
                                                                

                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="{% url 'digital_marketing' %}">Digital Marketing</a>
                                                            <ul>
                                                                <li><a href="{% url 'google_ads' %}">Google Ads</a></li>
                                                                <li><a href="{% url 'seo' %}">SEO</a></li>
                                                                <li><a href="{% url 'social_media_ads' %}">Social Media Ads</a></li>
                                                                <li><a href="{% url 'promotion_ad_content' %}">Promotional Ad Content</a></li>
                                                                <li><a href="{% url 'landing_page_dev' %}">Landing Page Development</a></li>

                                                            </ul>
                                                        </li>
                                                        
                                                       
                                                      
                         
                                                        
                                                        <li class="dropdown">
                                                            <a href="{% url 'ecommerce' %}">E-Commerce</a>
                                                            <ul>
                                                                
                                                                  
                                                                
                                                                <li><a href="{% url 'ecommerce_from_scr' %}">E-Commrece from Scratch</a></li>
                                                                
                                                                <li><a href="{% url 'startup_consultation' %}">StartUp Consultation</a></li>
                                                                <li><a href="{% url 'wordpress_woocom' %}">Wordpress & WooCommerce</a></li>
                                                                <li><a href="{% url 'shopify' %}">Shopify</a></li>
                                                                
                                                                <li><a href="{% url 'google_analytics' %}">Google Analytics</a></li>

                                                            </ul>
                                                        </li> 
                                                        
                                                        <li class="dropdown">
                                                            <a href="{% url 'content_development' %}">Content Development</a>
                                                            <ul>
                                                                <li><a href="{% url 'social_media_content' %}">Social Media Content</a></li>
                                                                <li><a href="{% url 'article_writing' %}">Article Writing</a></li>
                                                                <li><a href="{% url 'product_review' %}">Product Review</a></li>
                                                               


                                                            </ul>

                                                        </li> 
                                                    </ul>
                                                </li> 
                                                <li><a href="{% url 'product' %}">Products</a></li>
                                                <li><a href="{% url 'training' %}">Training</a></li>
                                                <li><a href="{% url 'blog' %}">Blog</a></li>                                               
                                                <li><a href="{% url 'contact' %}">Contact</a></li> -->


                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Main Area End Here -->

        <!-- page content -->
        {% block content %}
        <div class="page-content">


        </div>
        {% endblock %}
    





   <!-- footer -->
   <footer class="footer site-footer  pt-5" style="background-color: rgb(25, 32, 63);"> 

    <div class="container text-center">
        <div class="text-center">
            <img src="{% static 'images/logo/Softopark.png' %}" alt="" height="139" width="428" class="img-fluid">
            
        </div>
        <div class="text-center">
           <p class="text-light">9th Floor | House-28 | Block-C Main Road | Bonoshree | Rampura </p> 
           <p class="text-light">Dhaka - Bangladesh</p>
           
        </div>
    <div class="row">
        <div class="col-sm-3"></div><br>
        <div class="col-sm-6">
            <ul class="social-icons d-inline text-center">
                <li><a target="_blank" href="https://www.facebook.com/softopark" data-tooltip="Facebook"><i class="optico-icon-facebook text-light"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/softopark" data-tooltip="Twitter"><i class="optico-icon-twitter text-light"></i></a></li>
                <li><a target="_blank" href="https://www.quora.com/profile/Softopark-InfoTech" data-tooltip="Quora"><i class="fa fa-quora text-light" aria-hidden="true"></i></a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/softopark-infotech-425866198/" data-tooltip="LinkedIn"><i class="optico-icon-linkedin text-light"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com/softopark/" data-tooltip="Instagram"><i class="optico-icon-instagram text-light"></i></a></li>
                <li><a target="_blank" href="https://www.pinterest.com/softoparkit" data-tooltip="Pinterest"><i class="optico-icon-pinterest text-light"></i></a></li>
                <li><a target="_blank" href="https://dribbble.com/Softopark/" data-tooltip="Dribbble"><i class="optico-icon-dribbble text-light"></i></a></li>
                <li><a target="_blank" href="https://www.behance.net/softoparkIT" data-tooltip="Behance"><i class="fa fa-behance text-light" aria-hidden="true"></i>
                </a></li>

            </ul> 
        </div><br>
        <div class="col-sm-3"></div>
    </div>
    </div><br><br>
            
    <div class="container">
        
             <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div class="footerlogo mb-4">
                    <h6 class="footer-widget-title text-light">Softopark</h6>
                </div>
                    <!-- <ul class="list-unstyled footer-link-list">
                        <li><a href="{% url 'social_media_ads' %}" class="text-light">Social Media Ads</a></li>
                        <li><a href="{% url 'promotion_ad_content' %}" class="text-light">Promotional Ad Content</a></li>
                        <li><a href="{% url 'landing_page_dev' %}" class="text-light">Landing Page Development</a></li>
                        <li><a href="{% url 'product' %}" class="text-light">Products</a></li>
                        <li><a href="{% url 'training' %}" class="text-light">Training</a></li>
                        <li><a href="{% url 'blog' %}" class="text-light">Blog</a></li>                                               
                        <li><a href="{% url 'contact' %}" class="text-light">Contact</a></li>
                    </ul> -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mt-sm-30">
                <h6 class="footer-widget-title text-light">Our Services</h6>
                <!-- <ul class="list-unstyled footer-link-list">
                    <li> <a href="{% url 'webdevelopment' %}" class="text-light">Web Development</a></li>
                    <li><a href="{% url 'digital_marketing' %}" class="text-light">Digital Marketing</a></li>
                   <li> <a href="{% url 'ecommerce' %}" class="text-light">E-Commerce</a></li>
                   <li> <a href="{% url 'content_development' %}" class="text-light">Content Development</a></li>
                    <li><a href="{% url 'google_ads' %}" class="text-light">Google Ads</a></li>
                    <li><a href="{% url 'seo' %}" class="text-light">SEO</a></li>
                    <li> <a href="{% url 'ecommerce' %}" class="text-light">Ecommerce</a></li>
                    <li> <a href="{% url 'real_estate' %}" class="text-light">Real Eatate</a></li>
                    <li> <a href="{% url 'product' %}" class="text-light">Product</a></li>
                    <li> <a href="{% url 'startup_consultation' %}" class="text-light">Startup Consultation</a></li>
                   
                        
                    <br/>
                </ul> -->
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 mt-md-30">
                <h6 class="footer-widget-title text-light">Contact</h6>
                <div class="d-flex">
                    <i class="optico-icon-location-pin text-light"></i>
                    <p class="text-light"><strong>Softopark.com</strong>

                        <br/>Twin Tower, Plot 13, Block-C, Main Road, Banasree, Rampura,Dhaka-1219</p>
                </div>
                <div class="d-flex">
                 <a href="https://www.google.com/maps/place/Softopark/@23.7625375,90.435791,20z/data=!4m12!1m6!3m5!1s0x3755b809fe53f02b:0x1a79e790c58d512b!2sSoftopark!8m2!3d23.7625105!4d90.436251!3m4!1s0x3755b809fe53f02b:0x1a79e790c58d512b!8m2!3d23.7625105!4d90.436251" target="_blank">   <p class="bg-primary text-light p-2 rounded border-radious"> <i class="fa fa-arrow-right" aria-hidden="true"></i>
                         Get Direction</p></a>

                </div>
                <br/>

                <div class="d-flex">
                    <i class="optico-icon-mobile text-light"></i>
                    <p class="text-light">+8801679695747</p>
                </div>
                <div class="d-flex pr-3">
                    <i class="optico-icon-comment-1 text-light"></i>
                    <p class="text-light">info@softopark.com</p>
                </div>
                <div class="d-flex">
                    <i class="optico-icon-clock text-light"></i>
                    <p class="text-light">Sat to Thurs - 10:00am to 7:00pm</p>
                </div>
               
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 address-box mt-md-30">
                <h6 class="footer-widget-title text-light">Send Us Your E-mail</h6>
                
                <p class="text-light">Subscribe to <b>GET OFFERS</b><br/>and the latest tech updates!</p>
                <form>
                    <div class="form-group bg-dark">
                     
                      <input type="email" class="form-control p-2 rounded" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
 
                    </div>
                   
                   
                   
                    <span class="d-block p-2 bg-primary rounded text-center text-white"> <strong>GO</strong> </span>
                  </form>
                  <br>
                  <!-- <ul class="social-icons d-inline">
                    <li><a target="_blank" href="https://www.facebook.com/softopark" data-tooltip="Facebook"><i class="optico-icon-facebook text-light"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/softopark" data-tooltip="Twitter"><i class="optico-icon-twitter text-light"></i></a></li>
                    <li><a target="_blank" href="https://www.quora.com/profile/Softopark-InfoTech" data-tooltip="Quora"><i class="fa fa-quora text-light" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/softopark-infotech-425866198/" data-tooltip="LinkedIn"><i class="optico-icon-linkedin text-light"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/softopark/" data-tooltip="Instagram"><i class="optico-icon-instagram text-light"></i></a></li>
                    <li><a target="_blank" href="https://www.pinterest.com/softoparkit" data-tooltip="Pinterest"><i class="optico-icon-pinterest text-light"></i></a></li>
                    <li><a target="_blank" href="https://dribbble.com/Softopark/" data-tooltip="Dribbble"><i class="optico-icon-dribbble text-light"></i></a></li>
                    <li><a target="_blank" href="https://www.behance.net/softoparkIT" data-tooltip="Behance"><i class="fa fa-behance text-light" aria-hidden="true"></i>
                    </a></li>

                </ul>
                -->
            </div>
        </div>
      
    </div>
    <div class="bottom-footer bg-white">
              
        <div class="text-center">
            <!-- Copyright © 2020 <a href="{% url 'home' %}" class="text-secondary">softopark</a>. All rights reserved. <a href="{% url 'privacy' %}">|  Privacy policy  | </a>  <a href="{% url 'terms_condition' %}">Terms & Condition</a> -->
        </div>

</div>

</footer>
    <!-- footer End -->
    </div>
    <!-- page wrapper End -->

    <!-- Search Box Start Here -->
    <div class="ts-search-overlay">
        <div class="ts-icon-close"></div>
        <div class="ts-search-outer">
            <div class="ts-search-logo"><img alt="optico" src="{% static 'images/training/ssss-01.png' %}" /></div>
            <form class="ts-site-searchform">
                <input type="search" class="form-control field searchform-s" name="s" placeholder="Type Word Then Press Enter">
                <button type="submit"><span class="optico-icon-search"></span></button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        (function () {
            
            var options = {
                whatsapp: "+8801679695747", // WhatsApp number
                call_to_action: "Message us", // Call to action
                position: "right", // Position may be 'right' or 'left'
            };
            var proto = document.location.protocol, host = "getbutton.io", url = "https://static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            // alert(x);
            console.log(s);
        })();
    </script>
    <!-- GetButton.io widget -->

<!-- /GetButton.io widget -->
    <!-- Search Box End Here -->

    <!-- JS
        ============================================ -->

    <!-- jQuery JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- jquery Waypoints JS -->
    <script src="{% static 'js/jquery-waypoints.js' %}"></script>
    <!-- jquery Appear JS -->
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <!-- Numinate JS -->
    <script src="{% static 'js/numinate.min.js' %}"></script>
    <!-- Slick JS -->
    <!-- <script src="{% static 'js/slick.min.js' %}"></script> -->
    <!-- PrettyPhoto JS -->
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <!-- Circle Progress JS -->
    <script src="{% static 'js/circle-progress.js' %}"></script> 
    <!-- Event Move JS -->
    <script src="{% static 'js/jquery.event.move.js' %}"></script>
    <!-- Twentytwenty JS -->
    <script src="{% static 'js/jquery.twentytwenty.js' %}"></script>
    <!-- Scripts JS -->
    <script src="{% static 'js/scripts.js' %}"></script>


<!-- GetButton.io widget -->

<!-- /GetButton.io widget -->
</body>

</html>