{% extends page.content|yesno:"cms_app/blank_base.html,base.html" %}
{% load static %}
{% block content %}

    {% if page.content %}

    {{ page.content|safe }}

    {% else %}
    
        <!-- page content -->
        <div class="page-content">
            {% if page.page_banner %}
            <section class="home-banner home-slider-two">
                <img class="img-fluid" src="{{ page.page_banner.url }}" alt="Software company in Dhaka">
             </section>
            {% endif %}

            {% if page.heading or page.sub_heading %}
             <section class="section-md border-top" style="background-color: rgb(255, 255, 255);">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-md-8">
                          <div class="section-title text-left">
                              <h2 class="text-dark"><b>{{page.heading}}</b></h2><br>
                              <h6 class="text-dark">{{page.sub_heading}}<br/></h6>
                          </div>
                      </div>
                  </div>
              </div>
              </section>

              
            {% endif %}
            {% for section in page.section_set.all %}
              {% with template_name=section.section_type|add:".html" %}
                  {% include "sections/"|add:template_name with data=section %}
              {% endwith %}
            {% endfor %}

</div>

{% endif %}

{% endblock %}