{% extends 'base.html' %}

{% load widget_tweaks %}
   
{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            <div class="modal-body">
              {% csrf_token %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
              {% for field in form.visible_fields %}
                {% if field.name == "section" %}
                  {% render_field field class="d-none" %}
                {% elif field.name in 'heading, sub_heading, embed_url, description, target_url' %}
                  <div class="form-group">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field|add_class:'form-control' }}
                      {% for error in field.errors %}
                      <span class="help-block text-danger">{{ error }}</span>
                      {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
              <button type="submit" class="btn btn-primary">Save</button>
          </form>
    </div>
{% endblock %}